html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--background: #F5F6F8;
	--gray: #EBEBEB;
	--grey: #A4A4A4;
	--gray-dark: #6C7077;
	--white: #FFF;
	--primary: #7351F5;
	--primary-hover: #482CB6;
	--orange: #FC836D;
	--red: #DE0000;
	--red-light: #DF9090;
	--green: #127A4F;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
}
